body{
    background-color: #d7d7d7;
}

#main-picture{
    display: flex;
/*    justify-content: center; */
    width: 50%;
    position: relative;
    height: 400px;
    margin: 50px auto;
}

#photo{
    height: 400px;
}

.arrow-container{
    background-color: #ececec;
    padding: 0px 10px;
}

.left-arrow{
    transform: rotate(0.5turn);
    height: 30px;
    margin: 180px 0px;
    background-color: #ececec;
}

.right-arrow{
    height: 30px;
    margin: 180px 0px;
    background-color: #ececec;
}

.gray-container{
    height: 100px;
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    margin: 0px 28px 0px 36px;
    padding: 0px 20px;
    color: white;
    opacity: 0.7;
}


h1{
     font-size: 22px;
     margin: 10px 0px;
 }

 p{
    margin: 10px 0px;
 }

 #thumb-container{
     display: flex;
     justify-content: center;
     height: 80px;
 }

 .thumb-image{
     margin: 10px;
     height: 50px;
 }

 .active-thumb-image{
     border: 5px solid grey;
     height: 50px;
 }



 .thumbnail {
    position: relative;
    height: 80px;
  }
  
  .title {
    display: none;
    font-size: 12px;
    position: relative;
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 5px;
    top: -110px;
  }
  
  .thumbnail:hover .title {
    display: block;
  }